anaconda-anon-usage 
archspec 
asgiref==3.8.1
boltons 
certifi 
cffi 
charset-normalizer 
colorama 
conda 
conda-content-trust 
conda-libmamba-solver 
conda-package-handling 
conda_package_streaming 
cryptography 
distro 
Django==4.2
djangorestframework==3.15.2
drf-yasg==1.21.7
frozendict 
idna 
inflection==0.5.1
jsonpatch 
jsonpointer==2.1
libmambapy 
menuinst 
mssql-django==1.5
packaging 
platformdirs 
pluggy 
pycosat 
pycparser 
pyodbc==5.1.0
PySocks 
pytz==2024.2
PyYAML==6.0.2
requests 
ruamel.yaml 
setuptools==72.1.0
sqlparse==0.5.1
tqdm 
truststore 
tzdata==2024.1
uritemplate==4.1.1
urllib3 
wheel==0.43.0
win-inet-pton 
zstandard 
